.restaurant-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-banner-container {
  background-color: #333333;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
}

.restaurant-banner-details {
  display: flex;
}

.restaurant-logo {
  width: 445px;
  height: 300px;
  border-radius: 8px;
}

.restaurant-details {
  margin-left: 20px;
  line-height: 1.6;
}

.rt-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.rt-para {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.rating-cost {
  display: flex;
  align-items: center;
}

.rt-icon {
  margin-right: 4px;
  margin-top: 2px;
}
.rt-rating {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.rt-reviews {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #e2e8f0;
}

.vertical-line {
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.restaurant-food-list {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.restaurant-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.restaurant-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.restaurant-failure-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #183b56;
  align-self: flex-start;
}

.restaurant-failure-para {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #f7931e;
  align-self: flex-start;
}

@media screen and (min-width: 1001px) {
  .restaurant-food-list {
    width: 83%;
    padding: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .restaurant-food-list {
    width: 78%;
    padding: 0px;
  }
}

@media screen and (min-width: 1361px) {
  .restaurant-food-list {
    width: 70%;
  }
  .restaurant-banner-details {
    display: flex;
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .restaurant-food-list {
    width: 90%;
    padding: 0px;
  }

  .rt-heading {
    font-size: 28px;
  }

  .restaurant-logo {
    margin-top: 10px;
  }

  .restaurant-banner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 818px) {
  .restaurant-logo {
    width: 380px;
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  .restaurant-food-list {
    width: 95%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
  }

  .restaurant-logo {
    width: 180px;
    height: 230px;
    border-radius: 0px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 130px;
    margin-top: 0px;
    align-self: flex-start;
  }

  .restaurant-banner-container {
    height: 250px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 50px;
    margin-top: 10px;
  }
  .restaurant-banner-details {
    display: flex;
    align-items: center;
    margin-top: 0px;
  }

  .restaurant-details {
    margin-left: 10px;
    line-height: 1.3;
    margin-bottom: 80px;
  }

  .rt-heading {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 40px;
  }

  .rt-para {
    font-size: 12px;
    line-height: 0px;
    line-height: 1.4;
  }

  .rating-cost {
    display: flex;
    align-items: center;
    line-height: 0px;
    margin: 0px;
  }

  .rt-icon {
    margin-right: 4px;
    margin-top: 0px;
  }
  .rt-rating {
    font-size: 12px;
    line-height: 0px;
  }

  .rt-reviews {
    font-size: 12px;
  }

  .vertical-line {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 281px) {
  .restaurant-banner-container {
    background-color: #333333;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .restaurant-banner-details {
    display: flex;
    flex-direction: column;
  }
}
